<!--The content below is only a placeholder and can be replaced.-->
<ul>
  <li>
    <h2>La liste des posts : <a target="_blank" href="api/posts"> api/posts</a></h2>
  </li>
  <li>
    <h2>La liste des utilisateurs : <a target="_blank" href="api/users"> api/users</a></h2>
  </li>
  <li>
    <h2>Un post en particulier : <a target="_blank" href="api/posts/1">api/posts/1</a></h2>
  </li>
  <li>
    <h2>La liste de ses commentaire :<a target="_blank" href="api/posts/1/comments">api/posts/1/comments</a></h2>
  </li>
</ul>
<router-outlet></router-outlet>

